  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <!--<a href="../index3.html" class="brand-link">-->
<!--	<img src="../dist/img/AdminLTELogo.png"
           alt=""
           class="brand-image img-circle elevation-3"
           style="opacity: .8">
-->
      <span class="brand-text font-weight-light"></span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      
      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
<br>
          <li class="nav-header">我的</li>
          <li class="nav-item">
            <a href="query?chano={{ info.chano }}" class="nav-link">
              <i class="nav-icon far fa-calendar-alt"></i>
              <p>
                查詢預約
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="list?chano={{ info.chano }}" class="nav-link">
              <i class="nav-icon fas fa-book"></i>
              <p>
                我的預約
              </p>
            </a>
          </li>

          <li class="nav-header">管理</li>
          <li class="nav-item">
            <a href="task?chano={{ info.chano }}" class="nav-link">
              <i class="nav-icon fas fa-list"></i>
              <p>排班排假</p>
            </a>
          </li>
		  <li class="nav-item">
            <a href="chausr?chano={{ info.chano }}" class="nav-link">
              <i class="nav-icon fas fa-user"></i>
              <p>會員資料</p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
